<%
  var pageType = page.type_name || page.post_type
%>

<!-- Show the blog list item. -->
<% if ((post.post_type == pageType) &&
      (pageType == site.data.pageTypes.blog_type)) { %>
  <%- partial('_partial/blog_list_item', { post: post }) %>

<!-- Show the project list item. -->
<% } else if ((post.post_type == pageType) &&
              (pageType == site.data.pageTypes.project_type)) { %>
  <%- partial('_partial/project_list_item', { post: post }) %>

<!-- Show the default list item. -->
<% } else if (post.post_type == pageType) { %>
  <div class="post-title-container">
    <a href="<%- config.root %><%- post.path %>">
      <h1><%- post.title %></h1>
    </a>
  </div>
<% } %>
