<header id="site-header">
  <div id="avatar-details">
    <div class="avatar-image">
        <img src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
    </div>
    <div class="avatar-name">
      <a href="<%- config.root %>">
        <h3><%= config.author %></h3>
      </a>
    </div>
  </div>
  <nav id="site-nav">
    <ul>
      <% site.pages.forEach(function (page) { %>
      <% if (page.type_name) { %>
        <li>
          <a href="<%- url_for(page.path) %>">
            <span><%- page.title %></span>
          </a>
        </li>
      <% } %>
      <% }) %>
    </ul>
  </nav>
</header>
