<section class="project-title-container">
  <a href="<%- config.root %><%= post.path %>">
    <h1><%= post.title %></h1>
  </a>
  <span class="dash">—</span>
  <span><%= post.short_description %></span>
</section>
