@import './variables';

body {
  font-family: Arial, 'Sawarabi Gothic';
  font-weight: normal;
  font-style: normal;
}

#site-body {
  position: relative;
  min-height: 500px;
}

@media (min-width: $large-screen-size) {
  body {
    background-color: #EEEEEE;
  }

  #site-body {
    display: block;
    padding: 16px;
    background-color: white;
    width: 70%;
    margin: 0 auto;
  }
}

#site-main {
  margin-left: calc(#{$nav-width} + #{$main-margin-left});
  margin-top: $main-margin-top;
  margin-bottom: $main-margin-bottom;
  padding-bottom: $main-padding-bottom;
  overflow-x: hidden;

  img {
    max-width: 100%;
  }

  figure, pre {
    overflow-x: scroll;
  }
}

#site-footer {
  position: absolute;
  bottom: 10px;
  margin-top: $main-margin-top;
  margin-left: calc(#{$nav-width} + #{$main-margin-left});
}

/* Mobile style */
@media (max-width: $mobile-screen-size) {
  #site-main, #site-footer {
    margin-left: 0px;
  }
}
