@import './variables';

$avatar-image-size: 120px;

#site-header {
  position: fixed;
  top: 0px;
  color: #333333;
  max-width: $nav-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $main-margin-top;
}

@media (max-width: $mobile-screen-size) {
  #site-header {
    position: relative;
    margin: 0 auto;
  }
}

#avatar-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #979797;

  .avatar-image {
    width: $avatar-image-size;
    height: $avatar-image-size;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .avatar-name {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;

    a {
      text-decoration: none;
      color: $main-font-color;
    }
  }
}

#site-nav {
  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin: 16px 0;
    }
  }
}
