
.blog-title-container, .project-title-container, .post-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    white-space: nowrap;
    // overflow: hidden;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }
}

.blog-title-container {
  .blog-title {
    margin-left: 10px;
  }
}

.project-title-container {
  .dash {
    padding-left: 10px;
    padding-right: 10px;
  }
}
