
$main-font-color: #404040;
$main-font-color-dark: darken($main-font-color, 5%);
$main-font-color-light: lighten($main-font-color, 5%);

$link-color: #4990E2;

$nav-width: 120px;

$main-margin-left: 20px;
$main-margin-top: 20px;
$main-margin-bottom: 20px;
$main-padding-bottom: 60px;

$mobile-screen-size: 600px;
$large-screen-size: 900px;
