<h1>Welcome to my homepage!</h1>

<h3>A few fun facts about myself</h3>

I love green tea ice cream, I have an affinity for water,
my favorite number is 0, I'm not a huge fan of IPAs,
I play video games like it's my life,
I knew what I wanted to do at the age of 20,
I practice mindfulness meditation,
my favorite food is a mango,
and when I was a kid I scraped my leg after falling off
my scooter while riding downhill.
