<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
  <div id="site-body">
    <%- partial('_partial/nav') %>
    <main id="site-main">
      <%- body %>
    </main>
    <%- partial('_partial/footer', null, { cache: false }) %>
  </div>
</body>
<!--
<%- js('js/index.js') %>
-->
</html>
