<header>
  <h1><%- page.title %></h1>
  <p><%- page.content %></p>
</header>

<article style="min-height: <%- config.per_page * 76 %>px">
  <% site.posts.sort('order_index').each(function (post) { %>
    <%- partial('_partial/list_item', { post: post }) %>
  <% }) %>
</article>
