<!-- Compute the posts listed before and after the current post. -->
<%
  var relatedPosts = site.posts.filter(function (element) {
    return element.post_type == page.post_type
  })

  var postIndex = relatedPosts.data.findIndex(function (element) {
    return element.title == page.title
  })

  var postsBefore = relatedPosts.slice(0, postIndex)
  var postsAfter = relatedPosts.slice(postIndex + 1)
%>

<article>
  <!-- List the posts before the main post content. -->
  <% postsBefore.forEach(function (post) { %>
    <%- partial('_partial/list_item', { post: post }) %>
  <% }) %>

  <% if (postsBefore.length > 0) { %>
    <hr>
  <% } %>

  <!-- Show the main post content. -->
  <header>
    <h1><%- page.title %></h1>
  </header>
  <%- page.content %>

  <% if (postsAfter.length > 0) { %>
    <hr>
  <% } %>

  <!-- List the posts after the main post content. -->
  <% postsAfter.forEach(function (post) { %>
    <%- partial('_partial/list_item', { post: post }) %>
  <% }) %>
</article>
